Repository open-telemetry/opentelemetry-collector-releases, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers

.github/CODEOWNERS:

#####################################################
#
# List of approvers for OpenTelemetry Collector Releases
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/collector-releases-approvers

/distributions/otelcol/manifest.yaml         @open-telemetry/collector-releases-approvers @open-telemetry/collector-approvers
/distributions/otelcol-otlp/manifest.yaml    @open-telemetry/collector-releases-approvers @open-telemetry/collector-approvers
/distributions/otelcol-contrib/manifest.yaml @open-telemetry/collector-releases-approvers @open-telemetry/collector-contrib-approvers
/distributions/otelcol-k8s/manifest.yaml     @open-telemetry/collector-releases-approvers @open-telemetry/helm-approvers @open-telemetry/operator-approvers

feat(otelcol-contrib): add GitLab receiver module to contrib
  .chloggen/dinesh.gurumurthy_add-schema-processor-to-contrib.yaml
Owners: @open-telemetry/collector-releases-approvers

feat(otelcol-contrib): add GitLab receiver module to contrib
  .chloggen/contrib-add-gitlabreceiver.yaml
Owners: @open-telemetry/collector-releases-approvers

add changelog in .chloggen
  .chloggen/add-loki-exporter.yaml
  CHANGELOG.md
Owners: @open-telemetry/collector-releases-approvers

feat: add kafkatopicsobserver extension
  .chloggen/feat_add-kafkatopicsobserver.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

Update .chloggen/add-loki-exporter.yaml
  .chloggen/add-loki-exporter.yaml
Owners: @open-telemetry/collector-releases-approvers

feat: add kafkatopicsobserver extension (#895)
  .chloggen/feat_add-kafkatopicsobserver.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

add loki exporter to the collector contrib distribution (#892)
  .chloggen/add-loki-exporter.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

[contrib] add saphana receiver (#876)
  .chloggen/add_saphana.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

Add ossf-scorecard scanning workflow
  .github/workflows/ossf-scorecard.yml
Owners: @open-telemetry/collector-releases-approvers

Add ossf-scorecard scanning workflow (#896)
  .github/workflows/ossf-scorecard.yml
Owners: @open-telemetry/collector-releases-approvers

prepare v0.123.0 release
  CHANGELOG.md
  Makefile
  distributions/otelcol-contrib/manifest.yaml
  distributions/otelcol-k8s/manifest.yaml
  distributions/otelcol-otlp/manifest.yaml
  distributions/otelcol/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers, @open-telemetry/collector-approvers

fix stable version
  distributions/otelcol-contrib/manifest.yaml
  distributions/otelcol-k8s/manifest.yaml
  distributions/otelcol-otlp/manifest.yaml
  distributions/otelcol/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers, @open-telemetry/collector-approvers

[chore] Prepare v0.123.0 release (#898)
  .chloggen/add-loki-exporter.yaml
  .chloggen/add-tcpcheckreceiver.yaml
  .chloggen/add_saphana.yaml
  .chloggen/add_windows_container_images.yaml
  .chloggen/contrib-awscloudwatchmetricsencodingextension.yaml
  .chloggen/dinesh.gurumurthy_add-schema-processor-to-contrib.yaml
  .chloggen/feat_add-kafkatopicsobserver.yaml
  .chloggen/tlscheckreceiver.yaml
  CHANGELOG.md
  Makefile
  distributions/otelcol-contrib/manifest.yaml
  distributions/otelcol-k8s/manifest.yaml
  distributions/otelcol-otlp/manifest.yaml
  distributions/otelcol/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers, @open-telemetry/collector-approvers

go mod tidy
  internal/tools/go.sum
Owners: @open-telemetry/collector-releases-approvers

move lychee to released version instead of hash
  .github/workflows/changelog.yml
Owners: @open-telemetry/collector-releases-approvers

Revert "[chore] Add dockerhub metadata with links to readme files (#873)"
  cmd/goreleaser/internal/configure.go
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

Revert "[chore] Add dockerhub metadata with links to readme files (#873)" (#901)
  cmd/goreleaser/internal/configure.go
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

Remove dockerhub destination
  cmd/builder/.goreleaser.yml
  cmd/goreleaser/internal/configure.go
  cmd/opampsupervisor/.goreleaser.yml
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

changelog
  .chloggen/tyler.remove-dockerhub-destination.yaml
Owners: @open-telemetry/collector-releases-approvers

Remove dockerhub destination (#902)
  .chloggen/tyler.remove-dockerhub-destination.yaml
  cmd/builder/.goreleaser.yml
  cmd/goreleaser/internal/configure.go
  cmd/opampsupervisor/.goreleaser.yml
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

prepare v0.123.1 release
  .chloggen/tyler.remove-dockerhub-destination.yaml
  CHANGELOG.md
Owners: @open-telemetry/collector-releases-approvers

update distribution version
  distributions/otelcol-contrib/manifest.yaml
  distributions/otelcol-k8s/manifest.yaml
  distributions/otelcol-otlp/manifest.yaml
  distributions/otelcol/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers, @open-telemetry/collector-approvers

[chore] Prepare v0.123.1 release (#903)
  .chloggen/tyler.remove-dockerhub-destination.yaml
  CHANGELOG.md
  distributions/otelcol-contrib/manifest.yaml
  distributions/otelcol-k8s/manifest.yaml
  distributions/otelcol-otlp/manifest.yaml
  distributions/otelcol/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers, @open-telemetry/collector-approvers

[chore] add stale action
  .github/workflows/stale.yml
Owners: @open-telemetry/collector-releases-approvers

adjust descriptions to include distro name
  cmd/goreleaser/internal/configure.go
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

add dockerhub full desriptions with links to readme files
  cmd/goreleaser/internal/configure.go
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

add docker username and password as env vars
  .github/workflows/base-release.yaml
Owners: @open-telemetry/collector-releases-approvers

add dockerhub content for OCB
  cmd/builder/.goreleaser.yml
Owners: @open-telemetry/collector-releases-approvers
