Repository open-telemetry/opentelemetry-collector-releases, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers

.github/CODEOWNERS:

#####################################################
#
# List of approvers for OpenTelemetry Collector Releases
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/collector-releases-approvers

/distributions/otelcol/manifest.yaml         @open-telemetry/collector-releases-approvers @open-telemetry/collector-approvers
/distributions/otelcol-otlp/manifest.yaml    @open-telemetry/collector-releases-approvers @open-telemetry/collector-approvers
/distributions/otelcol-contrib/manifest.yaml @open-telemetry/collector-releases-approvers @open-telemetry/collector-contrib-approvers
/distributions/otelcol-k8s/manifest.yaml     @open-telemetry/collector-releases-approvers @open-telemetry/helm-approvers @open-telemetry/operator-approvers

[contrib] add saphana receiver
  .chloggen/add_saphana.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

Improve changelog note
  .chloggen/add_windows_container_images.yaml
Owners: @open-telemetry/collector-releases-approvers

Remove env var with no effect from Windows dockerfile
  distributions/otelcol-contrib/Windows.dockerfile
  distributions/otelcol-k8s/Windows.dockerfile
  distributions/otelcol-otlp/Windows.dockerfile
  distributions/otelcol/Windows.dockerfile
Owners: @open-telemetry/collector-releases-approvers

Avoid using powershell in Windows
  .github/workflows/base-release.yaml
Owners: @open-telemetry/collector-releases-approvers

add tlscheckreceiver to otelcol-contrib
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

add changelog
  .chloggen/tlscheckreceiver.yaml
Owners: @open-telemetry/collector-releases-approvers

[core,contrib,k8s,otlp] Add Windows 2019 and 2022 container image (amd64 only) (#872)
  .chloggen/add_windows_container_images.yaml
  .github/workflows/base-release.yaml
  .github/workflows/release-contrib.yaml
  .github/workflows/release-core.yaml
  .github/workflows/release-k8s.yaml
  .github/workflows/release-otlp.yaml
  cmd/goreleaser/internal/configure.go
  distributions/otelcol-contrib/.goreleaser-build.yaml
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-contrib/Windows.dockerfile
  distributions/otelcol-contrib/windows-installer.wxs
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-k8s/Windows.dockerfile
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol-otlp/Windows.dockerfile
  distributions/otelcol-otlp/windows-installer.wxs
  distributions/otelcol/.goreleaser.yaml
  distributions/otelcol/Windows.dockerfile
  distributions/otelcol/windows-installer.wxs
Owners: @open-telemetry/collector-releases-approvers

Update .chloggen/tlscheckreceiver.yaml
  .chloggen/tlscheckreceiver.yaml
Owners: @open-telemetry/collector-releases-approvers

Add tcpcheckrecvier To contrib
  .chloggen/add-tcpcheckreceiver.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

Update .chloggen/add-tcpcheckreceiver.yaml
  .chloggen/add-tcpcheckreceiver.yaml
Owners: @open-telemetry/collector-releases-approvers

Add tlscheckreceiver to otelcol-contrib (#880)
  .chloggen/tlscheckreceiver.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

Update .chloggen/add-tcpcheckreceiver.yaml
  .chloggen/add-tcpcheckreceiver.yaml
Owners: @open-telemetry/collector-releases-approvers

Add tcpcheckreceiver To Contrib (#865)
  .chloggen/add-tcpcheckreceiver.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

prepare v0.122.1 release
  Makefile
  distributions/otelcol-contrib/manifest.yaml
  distributions/otelcol-k8s/manifest.yaml
  distributions/otelcol-otlp/manifest.yaml
  distributions/otelcol/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers, @open-telemetry/collector-approvers

add dockerhub full desriptions with links to readme files
  cmd/goreleaser/internal/configure.go
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

adjust descriptions to include distro name
  cmd/goreleaser/internal/configure.go
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

Add awscloudwatchmetricstreams encoding to contrib
  .chloggen/contrib-awscloudwatchmetricsencodingextension.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

prepare v0.122.1 release (#882)
  Makefile
  distributions/otelcol-contrib/manifest.yaml
  distributions/otelcol-k8s/manifest.yaml
  distributions/otelcol-otlp/manifest.yaml
  distributions/otelcol/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers, @open-telemetry/helm-approvers, @open-telemetry/operator-approvers, @open-telemetry/collector-approvers

[chore] Add trap stacking to package tests
  scripts/package-tests/package-tests.sh
Owners: @open-telemetry/collector-releases-approvers

[chore] Pull systemd service logs on package test failure (#860)
  scripts/package-tests/package-tests.sh
Owners: @open-telemetry/collector-releases-approvers

feat: config reload
  distributions/otelcol-contrib/otelcol-contrib.service
Owners: @open-telemetry/collector-releases-approvers

Add awscloudwatchmetricstreams encoding to contrib (#883)
  .chloggen/contrib-awscloudwatchmetricsencodingextension.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

update input fields to dropdowns
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

use actions to find correct next versions
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

debugging
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

clean up stable tag before moving on
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

remove quotes
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

remove quotes
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

remove debug step
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

try normal fetch depth with tags
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

Revert "try normal fetch depth with tags"
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

[chore] Calculate next versions automatically (#889)
  .github/workflows/update-version.yaml
Owners: @open-telemetry/collector-releases-approvers

feat: config reload
  .chloggen/config-reload.yaml
  distributions/otelcol-contrib/otelcol-contrib.service
  distributions/otelcol-otlp/otelcol-otlp.service
  distributions/otelcol/otelcol.service
Owners: @open-telemetry/collector-releases-approvers

Add schema processor to the collector conrib
  .chloggen/dinesh.gurumurthy_add-schema-processor-to-contrib.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

update the issue number
  .chloggen/dinesh.gurumurthy_add-schema-processor-to-contrib.yaml
Owners: @open-telemetry/collector-releases-approvers

Add schema processor to the collector conrib (#891)
  .chloggen/dinesh.gurumurthy_add-schema-processor-to-contrib.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

[contrib] add saphana receiver
  .chloggen/add_saphana.yaml
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

[chore] Add dockerhub metadata with links to readme files (#873)
  cmd/goreleaser/internal/configure.go
  distributions/otelcol-contrib/.goreleaser.yaml
  distributions/otelcol-k8s/.goreleaser.yaml
  distributions/otelcol-otlp/.goreleaser.yaml
  distributions/otelcol/.goreleaser.yaml
Owners: @open-telemetry/collector-releases-approvers

add loki exporter to the collector contrib distribution
  CHANGELOG.md
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers

feat(otelcol-contrib): add GitLab receiver module to manifest
  distributions/otelcol-contrib/manifest.yaml
Owners: @open-telemetry/collector-releases-approvers, @open-telemetry/collector-contrib-approvers
