Repository open-telemetry/opentelemetry-collector-releases, pull requests merged in 2025-05, with the labels that each got.

#937 [chore] Enable ebpf-profiler digest upgrades
  renovate.json
Labels: Skip Changelog, ci-cd

#941 Add metricstarttimeprocessor to the contrib distribution
  .chloggen/add-processor-to-build.yaml
  distributions/otelcol-contrib/manifest.yaml
Labels: ready to merge

#963 Update version from 0.126.0 to 0.127.0
  .chloggen/add-faro-components.yaml
  .chloggen/add-google-secret-manager-provider-to-build.yaml
  .chloggen/add-processor-to-build.yaml
  .chloggen/release-ebpf-profiler.yaml
  .chloggen/tigran_stef.yaml
  CHANGELOG.md
  Makefile
  distributions/otelcol-contrib/manifest.yaml
  distributions/otelcol-ebpf-profiler/manifest.yaml
  distributions/otelcol-k8s/manifest.yaml
  distributions/otelcol-otlp/manifest.yaml
  distributions/otelcol/manifest.yaml
Labels: Skip Changelog

#966 Revert "[chore] add default permissions block to workflows"
  .github/workflows/base-ci-goreleaser.yaml
  .github/workflows/base-package-tests.yaml
  .github/workflows/base-release.yaml
  .github/workflows/builder-release.yaml
  .github/workflows/builder-testbuild.yaml
  .github/workflows/changelog.yml
  .github/workflows/ci-goreleaser-contrib.yaml
  .github/workflows/ci-goreleaser-core.yaml
  .github/workflows/ci-goreleaser-ebpf-profiler.yaml
  .github/workflows/ci-goreleaser-k8s.yaml
  .github/workflows/ci-goreleaser-otlp.yaml
  .github/workflows/ci.yaml
  .github/workflows/fossa.yml
  .github/workflows/msi-tests.yaml
  .github/workflows/opampsupervisor-release.yaml
  .github/workflows/opampsupervisor-testbuild.yaml
  .github/workflows/package-test.yaml
  .github/workflows/release-contrib.yaml
  .github/workflows/release-core.yaml
  .github/workflows/release-ebpf-profiler.yaml
  .github/workflows/release-k8s.yaml
  .github/workflows/release-otlp.yaml
  .github/workflows/shellcheck.yml
  .github/workflows/stale.yml
  .github/workflows/update-version.yaml
Labels: release:blocker
